
.body  {
background-image: url("images/dynamic.png") , url("images/me.jpg");
text-align: center;

}

.background {
opacity: 0.4 ;
position: absolute;
top: 1080px ;

 }
 .background2 {
   position: absolute;
   top: 0px ;
   left: 0;
 }
 .welcome{
   position:  relative;
   font-family: "Gabriola", Times, serif;
   text-align: left;
   font-style: normal;
   font-size: 37px;
   top: 20px;
   margin-left: 75px;
   color: #0000BD;
 }
 .name {
   position:  relative;
   font-family: "Gabriola", Times, serif;
   text-align: left;
   font-style: normal;
   font-size: 30px;
   top: 0px;
   margin-left: 77px;
   color: #0000BD;
 }
.Container{
  margin-top: 0.5%;
}
.headline {
  position:  relative;
  font-family: "Gabriola", Times, serif;
  text-align: center;
  font-style: normal;
  font-style: italic;
  font-size: 70px;
  top: -25px;
  color:  #00D9E3;
  left: -15px;
}
.about {
  position:  relative;
  font-family: "Gabriola", Times, serif;
  text-align: left;
  font-style: normal;
  font-size: 35px;
  top: -40px;
  margin-left: 86px;
  color: #0000BD;
}
.Paragraph {
  position:  relative;
  font-family: "Gabriola", Times, serif;
  text-align: left;
  font-style: normal;
  font-size: 25px;
  top: -60px;
  margin-left: 85px;
  width: 86%;
  text-align: justify;
  color: #05FFE8;
}
.whole {
  margin-top: 2.3%;
  margin-left: 50px;
  display: flex;
}
.Assignment {
  position:  relative;
  font-family: "Megrim", times , serif;
  text-align: left;
  font-style: normal;
  font-size: 40px;
  top: 50px;
  margin-left: 50px;
}

.list {
  position:  relative;
  font-family: "Gabriola", times , serif;
  text-align: left;
  font-style: normal;
  font-size: 28px;
  top: 50px;
  margin-left: 50px;
}

.link {
  color: #5614E5;
  top: 10px;
  text-decoration: none;
}
.Exercise {
  position:  relative;
  font-family: "Megrim", times , serif;
  text-align: left;
  font-style: normal;
  font-size: 40px;
  top: 50px;
  margin-left: 50px;
}
.list2 {
  position:  relative;
  font-family: "Gabriola", times , serif;
  text-align: left;
  font-style: normal;
  font-size: 28px;
  top: 50px;
  margin-left: 40px;
}
.link2 {
  color:  #035740;
  top: 10px;
  text-decoration: none;
  margin-top: 10px;
}

.Proposal {
  position:  relative;
  font-family: "Megrim", times , serif;
  text-align: left;
  font-style: normal;
  font-size: 40px;
  top: 50px;
  margin-left: 30px;
}
.list3 {
  position:  relative;
  font-family: "Gabriola", times , serif;
  text-align: left;
  font-style: normal;
  font-size: 28px;
  top: 50px;
  margin-left: 30px;
}
.link3 {
  color: #E53B69 ;
  top: 10px;
  text-decoration: none;
}

.Container-1 {
  float: left;
  width: 35%;
  padding: 5px;
}
.Container-2 {
  float: right;
  width: 25%;
  padding: 5px;
  margin-right: 30px;
}
